{% include 'DEIPaper/base.html' %} {% load crispy_forms_tags %}

<!-- homepage -->

{% block title %}

<title>DEIPaper</title>

{% endblock %} 

{% block body %}

<div
  style="background: var(--background) !important"
  class="jumbotron center-content-screen"
  id="home-page-content"
>
  <img
    src="../static/DEIPaper/favicons/DEI_RGB.png"
    alt="DEI Icon"
    id="dei-icon"
  />
  <hr class="my-6" />
  <h1 class="display-4">Bem-vind@ ao DEIPaper!</h1>
  <hr class="my-2" />
  <p class="lead">
    Este espaço tem como objetivo compilar informação sobre as publicações
    científicas submetidas pelos colaboradores do DEI.
  </p>
  <hr class="my-3" />

  <a href="/papers/list-all-papers" class="btn btn-lg">
    <div class="card" style="background-color: #20201e; color: #DBD0BC">
      <div class="card-body">
        <h4 class="card-title"><b>Listagem de Publicações</b></h4>
      </div>
    </div>
  </a>

  <hr class="my-4" />

  <div class="card-deck">
    <div class="card bg-dark text-center">
      <div class="card-body">
        <h4 class="card-title"><b>Pesquisar Publicação</b></h4>
        <p class="card-text">Consultar uma publicação específica.</p>
        <a
          href="/papers/list-specific-paper"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#ModalListSpecificPaper"
          >Consultar publicação</a
        >
        {% include 'DEIPaper/modal-search-paper.html' with form=forms.0 %}
      </div>
    </div>
    <div class="card bg-dark text-center">
      <div class="card-body">
        <h4 class="card-title"><b>Criar Publicação</b></h4>
        <p class="card-text">
          Adicionar uma publicação à base de dados do DEI.
        </p>
        <a
          href="/papers/create-paper"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#ModalCreatePaper"
          >Adicionar publicação</a
        >
        {% include 'DEIPaper/modal-create-paper.html' with form=forms.1 %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
