{% extends 'DEIPaper/navbar.html' %} {% load crispy_forms_tags %}

<!-- shows a paged view of the database's papers -->

{% block title %}

<title>Publicações</title>

{% endblock %}

{% block content %}

{% if status_code == 200 %}
<div class="container">
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded-lg shadow-lg border-0">
        <div class="card-body p-4 bg-dark rounded">
          <div class="btn-group">
            {% with first_paper=papers|first last_paper=papers|last %}
            <!-- prev/next only displayed if prev and/or next page actually exist -->
            {% if prev_page %}
            <a
              href="/papers/list-all-papers/?page={{ page }}&prev=1"
              class="btn btn-primary btn-block"
            >
              Página anterior
            </a>
            {% endif %} 
            {% if next_page %}
            <a
              href="/papers/list-all-papers/?page={{ page }}&prev=0"
              class="btn btn-primary btn-block"
            >
             Próxima página
            </a>
            {% endif %}
            {% endwith %}
          </div>

          <hr class="my-2" />
          <div class="table-responsive">
            <table
              id="list-all-papers-table"
              class="table text-white text-center"
            >
              <thead>
                <tr>
                  <td scope="col">
                    <h6><b>#</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>Título</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>Autores</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>Consultar</b></h6>
                  </td>
                  <td scope="col">
                    <h6><b>Remover</b></h6>
                  </td>
                </tr>
              </thead>
              <tbody>
                {% for paper in papers %}
                <tr>
                  <td>{{ paper.id }}</td>
                  <td><i>{{ paper.title }}</i></td>
                  <td>{{ paper.authors }}</td>
                  <td>
                    <a
                      href="/papers/list-specific-paper/?id={{ paper.id }}"
                      class="btn-sm btn-info"
                    >
                     Consultar
                    </a>
                  </td>
                  <td>
                    <a
                      href="/papers/delete-paper/"
                      class="btn-sm btn-danger"
                      data-toggle="modal"
                      data-target="#ModalDeletePaper"
                    >
                     Remover
                    </a>
                    <div id="ModalDeletePaper" class="modal fade">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header bg-danger">
                            <h4 class="modal-title text-center">
                              Remover Publicação
                            </h4>
                          </div>
                          <div class="modal-body bg-dark">
                            <p>
                              <b>
                                Tem a certeza que pretende apagar esta publicação?
                              </b>
                            </p>
                            <p>
                              Como medida de segurança adicional, insira abaixo
                              o <i>ID</i> da publicação que pretende remover.
                            </p>
                            <form
                              method="delete"
                              action="/papers/delete-paper/"
                              class="form-group"
                            >
                              {% csrf_token %} {{ form|crispy }}
                              <div class="form-group">
                                <p>
                                  <i class="fa fa-exclamation-triangle"></i>
                                  <b>
                                    Tenha em atenção que esta ação não pode ser
                                    revertida!
                                  </b>
                                </p>
                                <button
                                  type="submit"
                                  class="btn btn-danger btn-block"
                                >
                                  Remover
                                </button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-sm-8 text-center">
      <div class="alert alert-danger" role="alert">
        <h1 class="alert-heading">
          Ocorreu um erro inesperado ao tentar listar as publicações.
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-sm-6 text-center">
      <div class="card-deck">
        {% include 'DEIPaper/back-to-home.html' %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
