{% include 'DEIPaper/util-layout.html' %} {% load crispy_forms_tags %}

<!-- TODO - change title for the paper's title -->

<!-- this page will list all the information about a given paper (coming from views via "paper") -->

{% block body %} {% if direct_access %}
<!-- the user entered the page directly -->
<!-- creates a div with a form requesting a paper's id -->
<div class="container py-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card bg-dark text-center">
        <div class="card-header">
          <h3 class="card-title">Pesquisar Publicação</h3>
        </div>
        <div class="card-body">
          <p class="card-text">
            Nesta secção poderá pesquisar uma publicação existente na base de
            dados do DEI.
          </p>
          <form
            method="get"
            action="/papers/list-specific-paper/"
            class="form-group"
          >
            {% csrf_token %} {{ form|crispy }}
            <div class="form-group">
              <button type="submit" class="btn btn-info btn-block">
                Pesquisar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% elif status_code == 200 %}
<!-- all good -->
<div class="container py-5 text-center" id="error-page-content">
  <div class="row">
    <div class="row-lg-10 mx-auto">
      <blockquote
        class="blockquote blockquote-custom bg-dark p-5 shadow rounded"
      >
        <!-- place the logo (via img with logoUrl) if it exists in the top right corner of the div -->
        {% if response.logoUrl != "" %}
        <!-- the logo should be in the top right -->
        <img
          src="{{response.logoUrl}}"
          class="img-fluid rounded mx-auto d-block float-right"
          alt="logo"
          style="max-height: 50px; max-width: 100px; margin-top: -20px"
        />
        {% endif %}
        <h4 class="mb-0 mt-2">
          <b><i>#{{response.id}}</i> - {{response.title}}</b>
        </h4>
        <p class="mb-0 mt-2 font-italic">{{response.abstract}}</p>
        <footer class="blockquote-footer pt-4 mt-4 border-top">
          <cite>{{response.authors}}</cite>
          {% if response.docUrl %}
          <hr />
          <p>
            O documento completo pode ser encontrado
            <a href="{{response.docUrl}}">aqui</a>.
          </p>
          {% endif %}
        </footer>
      </blockquote>
    </div>
  </div>
</div>

<!-- show a card asking whether the user wants to edit the specific paper -->
<!-- if so, he clicks it and a modal forms pops up, asking for the details -->
<div
  style="
    background: var(--background) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  "
  class="jumbotron"
>
  <div class="card-deck">
    <div class="card bg-dark text-center">
      <div class="card-body">
        <h4 class="card-title"><b>Pesquisar Publicação</b></h4>
        <p class="card-text">
          Caso pretenda pesquisar uma nova publicação, clique aqui.
        </p>
        <a
          href="/papers/list-specific-paper"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#ModalListSpecificPaper"
          style="margin-top: auto"
          >Consultar publicação</a
        >
        <div id="ModalListSpecificPaper" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-info">
                <h4 class="modal-title text-xs-center">Pesquisar Publicação</h4>
              </div>
              <div class="modal-body bg-dark">
                <form
                  method="get"
                  action="/papers/list-specific-paper/"
                  class="form-group"
                >
                  {{forms.0|crispy}}
                  <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block">
                      Pesquisar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-dark text-center">
      <div class="card-body">
        <h4 class="card-title"><b>Editar Publicação</b></h4>
        <p class="card-text">
          Caso pretenda editar <b>esta</b> publicação, clique aqui.
        </p>
        <a
          href="/papers/edit-paper"
          class="btn btn-warning"
          data-toggle="modal"
          data-target="#ModalEditPaper"
          style="margin-top: auto"
          >Editar publicação</a
        >
        <div id="ModalEditPaper" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-warning text-dark">
                <h4 class="modal-title text-xs-center">Editar Publicação</h4>
              </div>
              <div class="modal-body bg-dark">
                <form
                  method="post"
                  action="/papers/edit-paper/"
                  class="form-group"
                >
                  {% csrf_token %} {{forms.1|crispy}}
                  <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-block">
                      Editar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-dark text-center">
      <div class="card-body">
        <h4 class="card-title"><b>Apagar Publicação</b></h4>
        <p class="card-text">
          Caso pretenda apagar <b>esta</b> publicação, clique aqui.
        </p>
        <a
          href="/papers/delete-paper"
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#ModalDeletePaper"
          style="margin-top: auto"
          >Apagar publicação</a
        >
        <div id="ModalDeletePaper" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-danger">
                <h4 class="modal-title text-xs-center">Apagar Publicação</h4>
              </div>
              <div class="modal-body bg-dark">
                <p>
                  <b>Tem a certeza que pretende apagar esta publicação?</b>
                </p>
                <p>
                  Como medida de segurança adicional, insira abaixo o
                  <i>ID</i> da publicação que pretende remover.
                </p>
                <form
                  method="delete"
                  action="/papers/delete-paper/"
                  class="form-group"
                >
                  {% csrf_token %} {{forms.2|crispy}}
                  <div class="form-group">
                    <p>
                      <i class="fa fa-exclamation-triangle"></i>
                      <b
                        >Tenha em atenção que esta ação não pode ser
                        revertida!</b
                      >
                    </p>
                    <button type="submit" class="btn btn-danger btn-block">
                      Apagar
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-sm-8 text-center">
      <div class="alert alert-danger" role="alert">
        <h1 class="alert-heading">
          {% if status_code == 400 %} A publicação que tentou procurar é
          inválida. {% elif status_code == 404 %} A publicação que tentou
          procurar não existe. {% else %} Ocorreu um erro ao tentar procurar a
          publicação. {% endif %}
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container py-2">
  <div class="row justify-content-center">
    <div class="col-sm-6 text-center">
      <div class="card-deck">
        <div class="card bg-dark text-center">
          <div class="card-body">
            <h4 class="card-title"><b>Voltar para a página inicial</b></h4>
            <a
              href="/"
              class="btn btn-primary btn-block"
              style="margin-top: auto"
            >
              <i class="fa fa-home"></i>
              Voltar para a página inicial
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
