{% extends 'DEIPaper/base.html' %}

<!-- this page contains the navbar - didn't make sense to place it in index.html -->

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/">
    <i class="fa fa-home" style="font-size: 30px; color: white"></i>
  </a>

  <!-- create a space between the home and the rest of the navbar -->
  <div class="mx-2"></div>

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <a class="nav-link" href="/papers/list-all-papers"
        >Listar Publicações<span class="sr-only">(current)</span></a
      >
      <a class="nav-link" href="/papers/list-specific-paper"
        >Pesquisar Publicação<span class="sr-only">(current)</span></a
      >
      <a class="nav-link" href="/papers/create-paper"
        >Adicionar Publicação<span class="sr-only">(current)</span></a
      >
      <a class="nav-link" href="/papers/edit-paper"
        >Atualizar Publicação<span class="sr-only">(current)</span></a
      >
      <a class="nav-link" href="/papers/delete-paper"
        >Remover Publicação<span class="sr-only">(current)</span></a
      >
      <!-- TODO - an "about" page which explains the general purpose of DEIPaper would be nice -->
    </ul>
  </div>
</nav>
{% endblock %}
