{% extends 'DEIPaper/base.html' %}

<!-- this page contains the navbar - didn't make sense to place it in index.html -->
<!-- the navbar collapses to a hamburguer menu -->

{% block body %}
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <i class="fa fa-home" style="font-size: 25px; color: white"></i>
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/papers/list-all-papers"
            ><i class="fa fa-list"></i> Listar Publicações</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/papers/list-specific-paper"
            ><i class="fa fa-search"></i> Pesquisar Publicação</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/papers/create-paper"
            ><i class="fa fa-plus-circle"></i> Adicionar Publicação</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/papers/delete-paper"
            ><i class="fa fa-minus-circle"></i> Remover Publicação</a
          >
        </li>
        <!-- TODO - an "about" page which explains the general purpose of DEIPaper would be nice -->
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
