:root {
  --background: #1f1e1c;
}

body {
  background-color: var(--background) !important;
  color: beige;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.fa-home {
  transition: all 0.2s ease-in-out;
}

.fa-home:hover {
  color: rgb(76, 130, 131) !important;
}

/* General content related styles */

.center-content-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#list-papers-content {
  margin-top: 50px;
}

#home-page-content {
  height: 95vh;
}

#dei-icon {
  width: 300px;
  height: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table {
  /* make the table not be glued to the navbar */
  margin-top: 7.5vh;
  width: 70%;
  overflow-x: hidden !important;
  /* rounded corners */
}

th,
td {
  border-color: #363633 !important;
  border-top-color: #47473f !important;
  border-right-color: #47473f !important;
  border-bottom-color: #47473f !important;
  border-left-color: #47473f !important;
  padding: 10px 20px;
  font-size: 14px;
}

/* Homepage modal forms */

.modal-body {
  background-color: #1b1c1c;
}

.modal-content {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background-color: transparent;
}

.modal-footer {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
}

.modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
}

/* The code below aligns buttons in the homepage */

.card-body {
  display: flex;
  flex-direction: column;
}

.btn {
  margin-top: auto;
}

/* Color changes for default bootstrap elements (gruvbox-ish style) */

.card {
  border-color: #363633 !important;
  border-top-color: #47473f !important;
  border-right-color: #47473f !important;
  border-bottom-color: #47473f !important;
  border-left-color: #47473f !important;
}

.bg-dark {
  background-color: #363633 !important;
}

.btn-primary,
.bg-primary {
  color: rgb(255, 250, 230) !important;
  background-color: rgb(56, 103, 152) !important;
  border-color: rgb(50, 91, 134) !important;
}

.btn-danger,
.bg-danger {
  color: rgb(255, 250, 230) !important;
  background-color: rgb(131, 56, 57) !important;
  border-color: rgb(118, 51, 52) !important;
}

.btn-warning,
.bg-warning {
  color: rgb(235, 224, 204) !important;
  background-color: rgb(197, 164, 73) !important;
  border-color: rgb(174, 145, 65) !important;
}

.btn-info,
.bg-info {
  color: rgb(255, 250, 230) !important;
  background-color: rgb(76, 130, 131) !important;
  border-color: rgb(88, 150, 151) !important;
}

.btn-success,
.bg-success {
  color: rgb(255, 250, 230) !important;
  background-color: rgb(81, 130, 81) !important;
  border-color: rgb(94, 151, 93) !important;
}

.alert-success {
  color: rgb(205, 236, 189) !important;
  background-color: rgb(50, 66, 51) !important;
  border-color: rgb(68, 93, 66) !important;
}

.alert-danger {
  color: rgb(216, 161, 153) !important;
  background-color: rgb(57, 27, 27) !important;
  border-color: rgb(85, 38, 39) !important;
}

/* ------ custom scrollbar ------ */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #aaa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
